  @media (max-width: 639px) {
    .filter {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .cardSent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        }
    }

    @media (min-width: 640px) and (max-width: 1075px) {
        .filter {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .drop{
        display: none;
    }
    .cardSent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        }
    }
    @media (min-width: 1076px) {
    .filter {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .cardSent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        }
    }