    /* ketika layar lebih kecil dari 640px */
    @media (max-width: 639px) {
        .filterResponsbility {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 10px;
        }
        .dropCol{
            display: none;
        }
        .cardSent{
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 10px;
        }
        }

        /* ketika layar antara 640px dan 1023px */
        @media (min-width: 640px) and (max-width: 1075px) {
            .filterResponsbility {
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 10px;
        }
        .cardSent{
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 10px;
        }
        }

        /* ketika layar lebih besar atau sama dengan 1024px */
        @media (min-width: 1076px) {
        .filterResponsbility {
            grid-template-columns: repeat(5, minmax(0, 1fr));
            gap: 10px;
        }
        .dropCol{
            display: none;
        }
        .cardSent{
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 10px;
        }
        }